body {
	background-color: #ffffcc;
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
}

#container {
	margin: 0 auto;
	max-width: 800px;
	padding: 20px;
	background-color: #ffc266;
	display: flex;
}

.logo {
	width: 150px;
	height: auto;
	margin-right: 20px;
}

#content {
	margin-top: 20px;
}

h2 {
	font-size: 28px;
	color: #ff0066;
	margin-top: 0;
}

p {
	font-size: 18px;
	line-height: 1.5;
}

.blog-post {
	margin-bottom: 20px;
}

.blog-post img {
	margin-right: 20px;
	max-width: 300px;
	height: auto;
	float: left;
	border: 2px solid #ff0066;
}
